body {
  width: 87%;
  min-width: 320px;
  max-width: 960px;
  
  margin: 0 auto;
  
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}


@media ($tablet-landscape-widths) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }  
}

