@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";

@import "blocks/item-card.scss";
@import "blocks/main-content.scss";
@import "blocks/navigation.scss";
@import "blocks/page-footer.scss"; 
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/separate-line.scss";
@import "blocks/sidebar.scss";
@import "blocks/slider.scss";