.item-card {
  position: relative;
  
  width: 136px;
  height: 153px;
  
  margin-bottom: 20px;
  margin-right: 9px;
  margin-left: 10px;
  
  background-color: $boroda-lightgrey;
  
  &:hover path {
    fill: #ff2121;
  }
}

.item-card__icon {
  position: absolute;
  top: 15px;
  right: 16px;
  
  width: 20px;
  height: 20px;
}