.main-content {
  color: $boroda-darkgrey;
}

.main-content__header {
  position: relative;
  
  margin-bottom: 20px;
  padding: 22px;
  
  background-color: $boroda-lightgrey;
  
  ul {
    list-style: square;
  }
  
  &:hover .button-circle {
    opacity: 1;
  }
}

.main-content__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.main-content__add-item {
  position: relative;
  
  width: 136px;
  height: 153px;
  
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  
  background-color: $boroda-lightgrey;
  
  &::before {
    content: " ";
    
    position: absolute;
    
    width: 48px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: $boroda-darkgrey;
  }
  
  &::after {
    content: " ";
    
    position: absolute;
    
    width: 10px;
    height: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: $boroda-darkgrey;
  }
}

.main-content__text-column {
  position: relative;
  
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  
  background-color: $boroda-lightgrey;
  
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  &:hover .button-circle {
    opacity: 1;
  }
}

.main-content__edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  
  display: block;
}


@media ($tablet-landscape-widths) {
  .main-content {
    
  }
}

@media ($desktop-widths) {
  .main-content__text-wrapper {
    display: flex;
  }
  
  .main-content__text-column {
    flex-basis: 50%;
    &:first-child {
      margin-right: 17px;
    }
  }
}