.main-content {
  color: $boroda-darkgrey;
}

.main-content__header {
  margin-bottom: 20px;
  padding: 22px;
  
  background-color: $boroda-lightgrey;
  
  ul {
    list-style: square;
  }
}

.main-content__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.main-content__add-item {
  width: 136px;
  height: 153px;
  
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  
  background-color: $boroda-lightgrey;
}

.main-content__text-column {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  
  background-color: $boroda-lightgrey;
  
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


@media ($tablet-landscape-widths) {
  .main-content {
    
  }
}

@media ($desktop-widths) {
  .main-content__text-wrapper {
    display: flex;
  }
  
  .main-content__text-column {
    flex-basis: 50%;
    &:first-child {
      margin-right: 17px;
    }
  }
}