.page-footer {
  margin-top: 20px;
  
  a {
    color: white;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.page-footer__col {
  box-sizing: border-box;
  
  height: 180px;
  
  margin-bottom: 28px;
  padding-top: 12px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  
  color: white;
  background-color: $boroda-darkgrey;
}

.page-footer__first-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    display: inline-block;
    width: 48%;
  }
}

.page-footer__second-list {
  margin: 0;
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
  
  a {
    margin-left: -15px;
  }
}

.page-footer__col--bg-white {
  padding: 0;
  background-color: white;
}

.page-footer__element {
  height: 75px;
  background-color: $boroda-darkgrey;
  
  &:first-child {
    margin-bottom: 28px;
  }
}