.page-footer {
  margin-top: 20px;
  
  a {
    color: white;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.page-footer__col {
  box-sizing: border-box;
  
  min-height: 180px;
  
  margin-bottom: 28px;
  padding-top: 12px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  
  color: white;
}

.page-footer__col--first-col {
  background-color: $boroda-darkgrey;
  transition: box-shadow 0.2s;
  
  &:hover {
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
}

.page-footer__col--second-col {
  background-color: $boroda-darkgrey;
  transition: box-shadow 0.2s;
  
  &:hover {
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
}

.page-footer__col--third-col {
  padding: 0;  
}

.page-footer__first-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    display: inline-block;
    width: 48%;
  }
}

.page-footer__second-list {
  margin: 0;
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
  
}

.page-footer__element {
  height: 75px;
  padding: 10px;
  background-color: $boroda-darkgrey;
  transition: box-shadow 0.2s;
  
  &:hover {
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
  
  &:first-child {
    margin-bottom: 30px;
  }
}


@media ($tablet-landscape-widths) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .page-footer__col--first-col {
    width: 30%;
    margin-right: auto;
  }
  
  .page-footer__col--second-col {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-footer__col--third-col {
    width: 30%;
    margin-left: auto;
  }
  
  .page-footer__element {
  }  
}


@media ($desktop-widths) {
  
}