.sidebar {
  margin-bottom: 35px;
}

.sidebar__bottom {
  position: relative;
  
  height: 134px;
  background-color: $boroda-darkgrey;
  transition: box-shadow 0.2s;
  
  &:hover {
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  }
  
  &:hover .button-circle {
    opacity: 1;
  }
}

@media ($tablet-landscape-widths) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-width: 184px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}