.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 148px;
  margin-bottom: 30px;
  
  background-color: $boroda-lightgrey;
}

.slider h2 {
  color: $boroda-darkgrey;
}